* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
main {
    height: 100%;
}

main .max-width-wrapper {
    background-color: hsl(0deg 0% 60%);
    height: 100%;
    padding-top: 32px;
}

header .max-width-wrapper {
    border-bottom: 4px solid hsl(0deg 0% 40%);
}

.centered {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.intro-chunk p {
    max-width: 300px;
}

.intro-chunk strong {
    color: hsl(160deg, 100%, 30%);
}

.indented-heading {
    background-color: hsl(45deg 100% 50%);

    width: fit-content;

    padding: 16px;
    padding-left: 40px;

    margin-top: 0px;
    margin-left: -40px;

    border-bottom: 4px solid hsl(45deg 100% 40%);
}

.card {
    background-color: hsl(0deg 0% 100%);

    padding-top: 8px;

    border-bottom: 4px solid hsl(0deg 0% 40%);
}
